name: Deploy Sporttyx

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Сборка образа и сохранение в файл (артефакт)
      - name: Build Docker image
        run: |
          docker build -t sporttyx-backend:latest .
          docker save sporttyx-backend:latest > sporttyx-image.tar

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: backend-image
          path: sporttyx-image.tar
          retention-days: 1

  deploy:
    needs: build
    runs-on: self-hosted
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: backend-image

      - name: Load Docker image and Run
        run: |
          # Загружаем образ из архива
          docker load < sporttyx-image.tar
          
          # Останавливаем старый контейнер, если он есть
          docker stop sporttyx-app || true
          docker rm sporttyx-app || true
          
          # Запускаем новый (проверьте ваши порты, здесь для примера 8080:8080)
          docker run -d \
            --name sporttyx-app \
            --restart always \
            -p 8080:8080 \
            sporttyx-backend:latest
            
          # Очистка старых ненужных образов
          docker image prune -f
