name: Deploy Sporttyx Backend

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Теперь нам не нужен Java и Maven в GitHub Actions!
      # Docker сам все сделает внутри себя.

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Находим папку и собираем образ
      - name: Build Docker image
        run: |
          DOCKER_FILE=$(find . -name "dockerfile" -o -name "Dockerfile" | head -n 1)
          CONTEXT_DIR=$(dirname "$DOCKER_FILE")
          
          docker build \
            -t sporttyx-backend:latest \
            -f "$DOCKER_FILE" \
            "$CONTEXT_DIR"
          
          docker save sporttyx-backend:latest > sporttyx-image.tar

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: backend-image
          path: sporttyx-image.tar
          retention-days: 1

  deploy:
    needs: build
    runs-on: self-hosted
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: backend-image

      - name: Load Docker image and Run
        run: |
          docker load < sporttyx-image.tar
          docker stop sporttyx-app || true
          docker rm sporttyx-app || true
          docker run -d \
            --name sporttyx-app \
            --restart always \
            -p 8080:8080 \
            sporttyx-backend:latest
          docker image prune -f